<footer>
	<div class="footer text-center">
		<p>Designed and developed by <a href="http://poudelmadhav.com.np">Madhav Paudel</a> &copy; <%= Date.today.year %>. All Rights Reserved.</p>
	</div>
</footer>
