<h3 class="header1"><strong>Record Of Distribution Transformer Sent for Maintenance and Received</strong></h3>

      <hr>
<div class="row center">
	<div class="col-xs-12 col-md-4">
		<%= link_to 'Sent Transformer', send_transformer_path, class: 'btn btn-lg btn-block btn-success main-button' %>
	</div>
	<div class="col-xs-12 col-md-4">
		<%= link_to 'Received Transformer', received_transformer_path, class: 'btn btn-lg btn-block btn-succes main-button' %>
	</div>
	<div class="col-xs-12 col-md-4">
		<%= link_to 'Remaining Transformer', remaining_transformer_path, class: 'btn btn-lg btn-block  main-button' %>
	</div>
</div>